[submodule "deps/libmediasoupclient"]
	path = deps/libmediasoupclient
	url = https://github.com/versatica/libmediasoupclient
	branch = m112
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
