[submodule "deps/libmediasoupclient"]
	path = deps/libmediasoupclient
	url = https://github.com/remtori/libmediasoupclient
	branch = m112
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/asio/src"]
	path = deps/asio/src
	url = https://github.com/chriskohlhoff/asio
