[submodule "deps/libmediasoupclient"]
	path = deps/libmediasoupclient
	url = https://github.com/remtori/libmediasoupclient
	branch = m112
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/libhv/src"]
	path = deps/libhv/src
	url = https://github.com/ithewei/libhv
[submodule "deps/argparse"]
	path = deps/argparse
	url = https://github.com/p-ranav/argparse
